._LaunchpadScreen {
    ._PortfolioHeader {
        .star-background {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;

            &.blend {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.75;
                mix-blend-mode: lighten;
                z-index: 1;
                filter: blur(1px);
            }
        }
        .video-element {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: max(50%, 700px);
            height: 100%;
            object-fit: cover;
            object-position: right;
            transform: scaleX(-1);
        }
    }
    .project-contents {
        background-color: $COLOR_BACKGROUND;
    }
    .scope-section {
        position: relative;
        z-index: 0;
    }
    .scope-container {
        display: flex;
        padding: 96px 30px;
        gap: 32px;
        
        .scope-background {
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            filter: brightness(70%) blur(2px);
        }
    }
    .wip-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 24px;
        padding: 96px 30px;
        
        .wip-caption {
            color: #bbb;
            font-size: 20px;
        }
        .wip-link {
            font-weight: bold;
            font-family: 'input-sans';
            font-size: 24px;

            &:not(:hover) {
                color: #eee;
            }
        }
    }
    .screenshot-set {
        margin: 32px 0;
    }
}