._LudumDare46Screen {
    .project-contents {
        background-color: $COLOR_BACKGROUND;
    }
    .two-columns {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        gap: 64px;
        
        .column {
            width: 100%;
            align-self: center;

            img {
                display: block;
                width: 100%;
            }
        }
    }
}