._ErrorScreen {
    .not-found {
        h1 {
            color: #bbb;
            text-align: center;
            font-size: 86px;
            font-weight: 600;
            margin: 64px 0 96px;
        }
        p {
            text-align: center;
        }
    }
}