._PortfolioItem {
    vertical-align: top;
    
    .image-link {
        width: 100%;
    }

    .title-area {
        display: flex;
        justify-content: space-between;
        margin: 14px 0 48px;

        h3 {
            margin: 0;
            a {
                text-align: left;

                &:hover {
                    color: $GREEN_HI;
                }
            }
        }

        .year {
            text-align: right;
            padding-top: 4px;
        }

        h3 a, .year {
            font-weight: 500;
            font-size: 16px;
            color: $DARK_TEXT;
            font-family: 'input-sans';
        }
    }
}