._USOpenScreen {
    .split-display {
        display: flex;
        align-items: center;
        gap: 5%;
        
        .split-column {
            flex-grow: 1;
            height: 100%;
        }

        img {
            width: 40%;
        }

        video {
            width: 60%;
        }
    }

    .application-images {
        margin: 36px 0;
    }

    h3 {
        margin-top: 60px;
    }
}