._PortfolioHeader {
    width: 100%;
    height: calc(100vh - $NAVIGATION_HEIGHT);

    .large-graphic {
        position: fixed;
        z-index: -10;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;

        .static-image {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .heading-section {
        width: 100%;
        height: 100%;

        .heading-content {
            width: 100%;
            height: 100%;
            color: #fff;
            text-shadow: #000 0px 3px 8px;
            justify-content: center;

            ._WidthContainer {
                width: 100%;
                height: 100%;
                margin-top: auto;
                margin-bottom: 16px;

                .tagline {
                    color: #fff;
                    max-width: 300px;
                    font-weight: 400;
                    text-shadow: #000 0px 3px 8px;
                }
            }
        }
    }

    .specifications h3.date {
        font-weight: 700;
    }
}