._WidthContainer {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: border-box;
}

._WidthContainer.vertical-padding {
    padding-top: 30px;
    padding-bottom: 30px;
}

._WidthContainer.columns {
    display: flex;
    flex-flow: row nowrap;
    gap: 32px;
}

@media (max-width: $DIM_MOBILE_WIDTH) {
    ._WidthContainer.columns {
        flex-flow: column nowrap;
    }
}