// Dimensions
$DIM_MOBILE_WIDTH: 800px;
$DIM_NAVBAR_HEIGHT: 95px;

// Colors
$COLOR_BACKGROUND: #040404;
$COLOR_TEXT: #e6e6e6;
$COLOR_TEXT_DARK: #969696;

$COLOR_GREEN_BRIGHT: #55bd79;
$COLOR_GREEN: #4aa27c;