// Dimensions
$DIM_MOBILE_WIDTH: 800px;
$DIM_NAVBAR_HEIGHT: 95px;

// Durations
$TIME_SCROLL_TRANSITION: 0.075s;

// Colors
$COLOR_BACKGROUND: #040404;
$COLOR_TEXT: #e6e6e6;
$COLOR_TEXT_DARK: #969696;

$COLOR_MIX_AMOUNT: 40%;
$COLOR_GREEN: #55bd79;
$COLOR_GREEN_BRIGHT: color-mix(in srgb, $COLOR_GREEN 100%, #fff $COLOR_MIX_AMOUNT);
$COLOR_RED: #d35789;
$COLOR_RED_BRIGHT: color-mix(in srgb, $COLOR_RED 100%, #fff $COLOR_MIX_AMOUNT);
$COLOR_BLUE: #59a7d4;
$COLOR_BLUE_BRIGHT: color-mix(in srgb, $COLOR_BLUE 100%, #fff $COLOR_MIX_AMOUNT);