._ProjectIntro {
    background-color: #000a;

    .project-intro-container {
        display: flex;
        gap: 24px;
        padding-top: 120px;
        padding-bottom: 120px;

        .column {
            width: 100%;
        }
    }

    @media (max-width: $MOBILE_MQ) {
        flex-direction: column;

        .text-holder {
            width: 100%;
            align-self: center;
        }
        .image-holder {
            width: 100%;
            align-self: center;
    
            .image {
                width: 100%;
                max-width: 400px;
                margin: 0 auto;
                display: block;
            }
        }
    }
}