._CraigslistRedesignScreen {
    .wide-column-area {
        display: flex;
        align-items: center;
        width: 100%;

        .image-column {
            width: 60%;
        }

        .text-column {
            box-sizing: border-box;
            width: 40%;

            &.right {
                padding-left: 18px;
                padding-right: 12px;
                border-right: 6px solid #E82744;
                text-align: right;
            }

            &.left {
                padding-left: 12px;
                padding-right: 18px;
                border-left: 6px solid #E82744;
            }
        }

        .column {
            flex-grow: 1;
            flex-shrink: 0;
        }
    }

    .result-background {
        padding-top: 64px;
        padding-bottom: 32px;
        background-color: #f2e6e7;
    }

    .sketch-list {
        margin: 20px 0;
    }

    .bold {
        font-weight: 700;
    }
}