._CraigslistRedesignScreen {
    .mobile {
        display: none;
    }

    .redesign-grid {
        margin: 100px 0 0;

        .row {
            display: flex;
            gap: 6px;
            margin-bottom: 12px;

            .cell {
                width: 50%;
                flex-grow: 1;
            }

            .arrow {
                width: 16px;
                height: 24px;
                display: block;
                margin: auto 0;
                padding-right: 18px;
            }

            .header {
                font-family: 'input-sans';
                font-size: 21px;
                font-weight: 500;
                margin-bottom: 16px;
            }
        }
    }

    .wide-column-area {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;

        .image-column {
            width: 60%;
        }

        .text-column {
            box-sizing: border-box;
            width: 40%;

            p:first-child {
                margin-top: 12px;
            }

            p:last-child {
                margin-bottom: 12px;
            }

            &.right {
                padding-left: 18px;
                padding-right: 12px;
                border-right: 3px solid #fff;
                text-align: right;
            }

            &.left {
                padding-left: 12px;
                padding-right: 18px;
                border-left: 3px solid #fff;
            }

            &.narrow {
                width: 25%;
                max-width: 320px;
                margin-right: 32px;
            }
        }

        .column {
            flex-grow: 1;
            flex-shrink: 0;
        }
    }

    .result-background {
        padding-top: 48px;
        padding-bottom: 32px;
        background-color: #ada8a8;
    }

    .ui-style {
        background-color: #f6f6f6;
        color: #000;
    }

    .sketch-list {
        margin: 20px 0;
    }

    .sketches {
        background-color: white;
        padding: 12px;
        box-sizing: border-box;
    }

    .bold {
        font-weight: 600;
    }

    @media (max-width: $MOBILE_MQ) {
        .mobile {
            display: block;
        }

        .desktop {
            display: none;
        }

        .wide-column-area {
            flex-direction: column;

            .column {
                width: 100%;

                &.text-column.left {
                    border: none;
                    padding-left: 0;
                    padding-right: 0;
                    border-bottom: none;
                    margin-bottom: 20px;
                }

                &.text-column.right {
                    border: none;
                    text-align: left;
                    padding-left: 0;
                    padding-right: 0;
                    border-bottom: none;
                    margin-bottom: 20px;
                }

                &.text-column.narrow {
                    width: 100%;
                    max-width: unset;
                    margin-right: unset;
                }
            }
        }
    }
}