._Footer {
    width: 100%;

    .container {
        text-align: center;
        font-size: 13px;
        font-family: 'input-sans';
        color: $COLOR_TEXT_DARK;
        padding-top: 60px;
        padding-bottom: 60px;

        a.email {
            color: $COLOR_TEXT_DARK;
            font-weight: 400;

            &:hover {
                color: $COLOR_GREEN_BRIGHT !important;
            }
        }
    }

    .icon-row {
        margin-bottom: 14px;

        a {
            width: 36px;
            height: 36px;
            margin: 0 6px;
            display: inline-block;
            filter: brightness(0) saturate(100%) invert(30%) sepia(6%) saturate(1215%) hue-rotate(97deg) brightness(96%) contrast(90%);
            transition: filter .2s;
        }

        a:hover {
            filter: brightness(0) saturate(100%) invert(66%) sepia(22%) saturate(888%) hue-rotate(88deg) brightness(93%) contrast(92%) !important;
        }

        a img {
            width: 100%;
            height: 100%;
        }
    }
}