._HomeScreen {
    .background-video {
        width: 100%;
        max-height: 640px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
        overflow: hidden;
        opacity: .9;

        .video-element {
            width: 100%;
            min-height: 440px;
            object-fit: cover;
        }
    }

    .heading-section {
        display: flex;
        margin: 100px auto 130px;

        .name {
            min-width: 290px;
            padding-right: 48px;

            h1 {
                font-weight: 500;
                font-size: 48px;
            }
        }

        .description {
            margin-left: auto;
            font-family: 'input-sans';
            text-align: right;
            max-width: 425px;

            .highlight {
                font-weight: 600;
                background-color: #397d5f;
                color: white;
                padding: 5px 3px;
                line-height: 1.6em;
            }
        }
    }

    .portfolio-container {
        display: flex;
        justify-content: space-around;
        flex-flow: wrap;
        gap: 24px;
    }

    /* Switch to mobile navigation bar */
    @media (max-width: $DIM_MOBILE_WIDTH) {
        .heading-section {
            margin: 30px auto 160px;
            flex-direction: column;

            .description {
                text-align: left;
                margin-left: 0;
            }
        }
    }
}